<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="this is a tryail for assci-art-encoding"
    />
    <meta
      name="keywords"
      content="assci,art,encoding,tryail,01 coding,project 03"
    />
    <meta name="author" content="tadros selim" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js"></script>
    <title>ASSCI-ART-encoding</title>
  </head>

  <body class="container">
    <section id="body">
      <header>
        <nav>
          <a href="/">Log in</a>
          <a href="/">History</a>
        </nav>
        <h1>ASSCI-ART-TRANSIMATION</h1>
      </header>

      <main>
        <hr />
        <h2>Enter Your text</h2>
        <hr />

        <form action="/submit" method="get">
          <input
            name="text"
            placeholder="Text"
            autocomplete="off"
            autofocus
            required
          />

          <select name="banner" required>
            <option disabled selected id="chosse">select banner</option>
            <option value="standard">standard</option>
            <option value="thinkertoy">thinkertoy</option>
            <option value="shadow">shadow</option>
          </select>

          <select name="color" required>
            <option disabled selected id="chosse">select color</option>
            <option value="none">no color</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="yellow">yellow</option>
            <option value="blue">blue</option>
            <option value="magenta">magenta</option>
            <option value="cyan">cyan</option>
            <option value="white">white</option>
          </select>
          <input name="substring" placeholder="Word to color (optional)" />

          <br />
          <button type="submit">Generate</button>
        </form>

        <hr />

        <div>
          <h2>Result</h2>
          <hr>
          <div
            id="color_err"
            style="color: #b00; font-weight: bold font-size:1.3rem"
          ></div>
          <div class="ascii-wrap" style="max-width:100%; overflow-x:auto;">
            <pre id="result">{{.Result}}</pre>
          </div>
          <form action="/downlood_as_txt" method="post">
            <button type="submit" id = "downlood">downlood as txt file</button>
          </form>
          
      </main>
    </section>
  </body>
</html>
