*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --font1 : 'poppins' , sans-serif;
    --primary:#292b24;
    --gray :#f3f3f3;
    --dgray :#dbded85a;
    --ddgray :#b3b5b4;
    --darkgreen :#bcd862;
    --black :#000;
    --white :#fff;
    --lightgreen :#e4ece4;
    --blue :#0230471d;
    --cyan :#8ecae6;
    --ochan :#219ebc;
    --yellow:#ffb703;
    --orane:#fb8500;
}


body{
    background-color: var(--ddgray);
    font-family: var(--font1);
}

/* stared header */
#body{
    background-color: var(--gray);
    border-radius: 15px;
    margin: 3.5% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
header{
    margin: 0px 0px 30px 0px ;
}
h1{
    
    color: var(--primary);
    text-align: center;
    padding: 40px;
    font-size: 2.5rem;


}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: 16rem;
    margin-left: auto;
    text-align: center;
    background-color: var(--lightgreen);
    padding: 20px 10px;
    border-radius: 30px;
}
nav a{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 20px;
    background-color: var(--primary);
    padding: 15px;
    box-shadow:2px 2px 10px 3px rgba(0,0, 0, .5);
}
nav a:hover{
    padding: 20px;
    background-color: var(--darkgreen);
    cursor: pointer;

}


/* end header */
/* stared main */
main{
    padding: 20px;

}
main,header:hover {
    background-color: var(--blue);
    border-radius: 10px;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
    opacity: .8;
}
h2{
    font-size: 1.5rem;
    margin: 15px 0px;
    
}
form{
    text-align: center;
}
select{
    height: 2rem;
}
input{
    height: 6rem;
}

input,select,button{
    margin: 15px 5px;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
}
button{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 20px;
    background-color: var(--primary);
    padding: 15px;
    box-shadow:2px 2px 10px 3px rgba(0,0, 0, .5);
}
button:hover{
    padding: 20px;
    background-color: var(--darkgreen);
    cursor: pointer;
}
input::placeholder{
    color: var(--primary);
    opacity: .7;
    font-size: 1.3rem;
}

/* end main */




/* stared main */
/* end main */
#result {
    background-color:var(--black) ;
    padding: 20px;
    border-radius: 10px;
    color: white;
    white-space: pre;
    overflow-x: auto;
    font-family: monospace;
    font-size: 1.3rem;
    display: flex;
}
/* If you color parts with <span>, keep spacing and monospace */

