<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    hello {{.Name}}
    <ul>
      {{ range.Items}}
      <li>{{.}}</li>
      {{end}}
    </ul>
        <form action="/login" method="post">
        <input type="text" placeholder="Name" name="name" autocomplete="off" autofocus>
        <input type="password" placeholder="password" name="password" autocomplete="off">
        <button type="submit">login</button>
    </form>
<!--
    {{if .LoggedIn}}
    <p>Welcome back, {{.User}}</p>
    {{else}}
    <p>Please log in.</p>
    {{end}}
-->

    
  </body>
</html>
